################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XLAnimationModifier/v16
/XLAnimationModifier/obj/Debug
/XLAnimationModifier/References
