################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XLAnimationModifier/v16
/XLAnimationModifier/obj/Debug
/XLAnimationModifier/References
/XLAnimationModifier/bin/Release
/.vs/XLAnimationModifier/config
/XLAnimationModifier/obj/Release
/XLAnimationModifier/bin/Debug
